<div class="container mt-10">
<h1><%= @booking.castle %></h1>

<%= link_to "Back to castles", castles_path %>

<div class="card w-75">
      <p><strong><%= @booking.castle %></strong></p>
      <p>Start Date: <%= @booking.start_date %></p>
      <p>End Date: <%= @booking.end_date %></p>
      <p>User: <%= @booking.user %></p>
    </div>
    <%# <p><%= link_to "Delete castle", castle_path(@castle), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }%>
</div>
