<div class="banner" style="background-image: url(./img/castle_banner3.png);">
  <div class="container">
    <!--<a class="btn btn-flat" href="#">Apply now</a>-->
  </div>
</div>

<div class="cards-castles">
  <h1 class="castle-recomend">Recommended Castles</h1>
  <div class="cards">
    <% @castles.each do |castle| %>
    <div class="castle-card">
      <%= cl_image_tag castle.photos.first.key, class: "castle-image" %>
      <h2><%= link_to castle.title, castle_path(castle) %></h2>
      <p><strong>Price:</strong> £<%= castle.price %></p>
      <p><strong>Location:</strong> <%= castle.location %></p>
    </div>
    <% end %>
  </div>
  <br>
  <%= link_to "Add new castle", new_castle_path, class: "elite" %>
</div>
