<div class="banner" style="background-image: url(./img/castle_banner3.png);">
  <div class="container">

  </div>
</div>

<div class="cards-castles">
  <h1 class="castle-recomend">Find Your Castle</h1>
  <div class="cards">
    <% @castles.each do |castle| %>
    <div class="castle-card">
      <%= cl_image_tag castle.photos.first.key, class: "castle-image" %>
      <h2><%= link_to castle.title, castle_path(castle) %></h2>
      <p><strong>Price:</strong> £<%= castle.price %></p>
      <p><strong>Location:</strong> <%= castle.location %></p>
      <p class="castle-check"><%= link_to "Check this castle", castle_path(castle) %></p>
    </div>
    <% end %>
  </div>
  <div class="add-castle-button">
    <%= link_to "Add new castle", new_castle_path, class: "btn btn-primary" %>
  </div>
</div>
