<div class="container mt-5">
<h1>Create castle listing</h1>
<%= simple_form_for(@castle) do |f| %>
  <%= f.input :title %>
  <%= f.input :price %>
  <%= f.input :location %>
  <%= f.submit %>
<% end %>
</div>
