<div class="container mt-10">
<h1><%= @castle.title %></h1>

<%= link_to "Back to castles", castles_path %>

<div>
      <p><strong><%= @castle.title %></strong></p>
      <p><%= @castle.description %></p>
      <p>Price per night: <%= number_to_currency(@castle.price) %></p>
      <p>Location: <%= @castle.location %></p>
      <p>User: <%= @castle.user.username %></p>
    </div>
    <p><%= link_to "Delete castle", castle_path(@castle), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }%></p>
</div>
