<div class="container mt-5">
  <h1><%= @castle.title %></h1>

<%= link_to "Back to castles", castles_path %>
  <div class="castle-details-card">
    <% if @castle.photos.present? %>
      <div class="image-container">
        <div class="main-image">
          <%= cl_image_tag @castle.photos[0].key, height: 400, crop: :fill, class: "hero" %>
        </div>
        <div class="gallery">
          <% unless @castle.photos.count == 1 %>
            <% @castle.photos.each_with_index do |photo, index| %>
              <% next if index == 0 %>
              <%= cl_image_tag photo.key, height: 196, width: 250, crop: :fill %>
            <% end %>
          <% end %>
    <% else %>
      <%= "No photo available" %>
    <% end %>
        </div>
     </div>
     <div class="details">
    <p><%= @castle.description %></p>
    <p>Price: <%= "£#{(@castle.price)}/per night" %></p>
    <p>Location: <%= @castle.location %></p>
    <p>Hosted by <%= "#{@castle.user.username} - experienced host" %></p>
  </div>
  <%= link_to "Book this castle", new_castle_booking_path(@castle), class: "btn btn-primary" %>
</div>
</div>
